@model WebKutuphane.Models.Kitap

@{
    ViewBag.Title = "Delete";
}


<div class="kutu">
    <div class="dl-horizontal">
        <p><b>@Html.DisplayNameFor(model => model.ad): </b>@Html.DisplayFor(model => model.ad)</p>
        <p><b>@Html.DisplayNameFor(model => model.yazar): </b>@Html.DisplayFor(model => model.yazar)</p>
        <p><b>@Html.DisplayNameFor(model => model.tür): </b>@Html.DisplayFor(model => model.tür)</p>
        <p><b>@Html.DisplayNameFor(model => model.dil): </b>@Html.DisplayFor(model => model.dil)</p>
        <p><b> @Html.DisplayNameFor(model => model.mevcutmu): </b>@Html.DisplayFor(model => model.mevcutmu)</p>
        <p><b> @Html.DisplayNameFor(model => model.resim): </b>@Html.DisplayFor(model => model.resim)</p>
        <p style="text-align:justify;"><b>@Html.DisplayNameFor(model => model.açıklama): </b>@Html.DisplayFor(model => model.açıklama)</p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SİL" class="btn" style="background-color: #123c69; color: white; width:100%;" />
        </div>
    }
</div>


<style>
    .kutu {
        margin: 100px 400px;
        background-color: white;
        padding: 50px;
        border: 5px solid #123c69;
        border-radius: 20px;
    }


    .btn:hover {
        background-color: #7ba3ce !important;
    }
</style>