@model WebKutuphane.Models.Kitap
@using WebKutuphane.Models
@{
    ViewBag.Title = "Details";
}
<div class="kitapdetay">
    <div class="container">
        <div class="row">
            <div class="col-4" style="margin-left:10px;">
                <img src="/img/@Model.resim" class="img-fluid" alt="@Model.ad adlı kitabın resmi">
                <div class="linkler">
                    @if (Session["KullaniciAdiSS"] != null)
                    {
                        <button class="col-md-6">
                            @Html.ActionLink("YorumYap", "YorumYap",
                            "Home", new { id = Model.id }, null)
                        </button>
                    }
                    else
                    {
                        <button class="col-md-6" onclick="deneme()" style="color:white;">Yorum Yap</button>
                    }
                    <button class="col-md-6">@Html.ActionLink("Kitap Al", "KitapAl", new { id = Model.id })</button>
                </div>

                @if (Model.mevcutmu == false)
                {
                    <div class="alert alert-secondary" role="alert" style="margin-top:5px;">
                        Kitap mevcut değil
                    </div>
                }
            </div>
            <div class="col-7" style="border: 2px solid white; border-radius: 50px;">
                <p><b>KİTAP: </b>@Model.ad</p>
                <p><b>YAZAR: </b>@Model.yazar</p>
                <p><b>TÜR: </b>@Model.tür</p>
                <p><b>DİL: </b>@Model.dil</p>
                @if (Model.açıklama != null && @Model.açıklama.Length > 350)
                {
                    <p>
                        <b>AÇIKLAMA: </b>@Model.açıklama.Substring(0, 350)<span style="display:inline;" type="button" data-toggle="modal" data-target="#myModal1">... DEVAMI</span>
                    </p>
                }
                else
                {
                    <p><b>AÇIKLAMA: </b>@Model.açıklama</p>
                }

                <!-- Modal (kitap açıklaması 359 karakterden fazlaysa modal şeklinde tamamını görüntüle)-->
                <div class="modal fade" id="myModal1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">@Model.ad</h4>
                            </div>
                            <div class="modal-body">
                                <p>@Model.açıklama</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="yorumlar" style="margin: 10px; border: 2px solid white; border-radius: 50px;">
        <div class="başlık" style="display:flex;">
            <h3>YORUMLAR</h3>
            <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json"
                       trigger="loop-on-hover"
                       colors="primary:#123c69,secondary:#123c69"
                       style="width:50px;height:50px">
            </lord-icon>
        </div>
        @foreach (var yorum in (List<Yorum>)ViewBag.Yorumlar)
        {
            if (Model.id == yorum.KitapId)
            {
    <div class="yorum-block" style="border: 2px solid white; border-radius: 10px;">
        <p><i class="fas fa-comment-alt" style="margin-right:5px;"></i> @yorum.Metin</p>
        @foreach (var üye in (List<UyeBilgileri>)ViewBag.Üyeler)
        {
            if (üye.KullaniciAdi == yorum.KullaniciAdi)
            {
                <p><i class="fas fa-user" style="margin-right:5px;"></i> @üye.Ad @üye.Soyad</p>

                if (Session["KullaniciAdiSS"] != null && üye.KullaniciAdi == Session["KullaniciAdiSS"].ToString())
                {
                    <div class="sil" style="display:flex;">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json"
                                   trigger="loop-on-hover"
                                   colors="primary:#121331,secondary:#123c69"
                                   style="width:32px;height:32px; margin-bottom:5px;">
                        </lord-icon>
                        @Html.ActionLink("Sil", "Delete", "Yorum", new { id = yorum.Id }, null)
                    </div>

                }

            }
        }
    </div>
            }
        }
    </div>

</div>

<script>
    function deneme() {
        window.location.href = '/Home/Login';
    }
</script>

<style>
    .container {
        margin: 20px;
    }

    /*metinlerin hizalanması*/
    p {
        text-align: justify;
    }

    /* "DEVAMI" butonu*/
    span:hover {
        color: blueviolet;
    }

    .yorumlar {
        display: flex;
        flex-direction: column;
        background-color: #E7E7E7;
        margin-top: 30px;
        padding: 20px;
        margin: 30px;
    }

    .yorum-block {
        background-color: white;
        margin: 10px;
        padding: 10px;
    }

    .kitapdetay {
        margin: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 75%;
    }
    .linkler a {
        text-decoration: none;
        color: white;
    }
    button {
        border: 2px solid #123c69;
        border-radius: 10px;
        width: 100%;
        background-color: #123c69;
        margin:2px;
    }
        button:hover {
            background-color: #080b284d;
        }
    .linkler{
        display:flex;
        margin:10px;
    }
    .col-7 {
        margin-left: 30px;
        background-color: #E7E7E7;
        padding: 50px;
    }
    img {
        width: 100%;
    }
</style>

