@model IEnumerable<WebKutuphane.Models.Kitap>

@{
    ViewBag.Title = "Index";
}


<div class="kitap" style="margin:30px;">
    <div style="display:flex; align-items:center;">
        <h3>KİTAPLAR</h3>
        <lord-icon src="https://cdn.lordicon.com/mecwbjnp.json" onclick="location.href='/Kitap/Create'"
                   trigger="loop-on-hover"
                   colors="primary:#123c69,secondary:#123c69"
                   style="width: 50px; height: 50px; cursor: pointer; ">
        </lord-icon>
    </div>
    <form method="post" style="float:right; margin-right:50px;">
        <input type="text" name="search" id="search" placeholder="Ara" />
        <input type="submit" value="ARA" class="btn btn-light" />
    </form>
    <table class="table">
        <tr>
            <th>
                AD
                @*@Html.DisplayNameFor(model => model.ad)*@
            </th>
            <th>
                YAZAR
            </th>
            <th>
                TÜR
            </th>
            <th>
                DİL
            </th>
            <th>
                MEVCUT
            </th>
            <th>
                DÜZENLE - İNCELE - SİL
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.yazar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tür)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mevcutmu)
                </td>
                <td>
                    <lord-icon src="https://cdn.lordicon.com/wloilxuq.json" onclick="location.href = '/Kitap/Edit/@item.id'" new { id=item.id }
                               trigger="loop-on-hover"
                               colors="primary:#123c69,secondary:#123c69"
                               style="width: 50px; height: 50px; cursor: pointer;">
                    </lord-icon>
                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" onclick="location.href = '/Kitap/Details/@item.id'" new { id=item.id }
                               trigger="loop-on-hover"
                               colors="primary:#123c69,secondary:#123c69"
                               style="width:50px;height:50px;  cursor: pointer;">
                    </lord-icon>
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" onclick="location.href = '/Kitap/Delete/@item.id'" new { id=item.id }
                               trigger="loop-on-hover"
                               colors="primary:#123c69,secondary:#123c69"
                               style="width: 50px; height: 50px; cursor: pointer;">
                    </lord-icon>
                    @*@Html.ActionLink("SİL", "Delete", new { id = item.id })*@
                    @if (item.mevcutmu == false)
                    {
                        <lord-icon src="https://cdn.lordicon.com/rvuqcvqy.json" onclick="location.href = '/Kitap/KitapVer/@item.id'" new { id=item.id }
                                   trigger="loop-on-hover"
                                   colors="primary:#123c69,secondary:#e83a30"
                                   style="width: 50px; height: 50px; cursor: pointer;">
                        </lord-icon>
                    }

                </td>
            </tr>
        }
    </table>
</div>
