@model IEnumerable<WebKutuphane.Models.UyeBilgileri>

@{
    ViewBag.Title = "Index";
}

<h2>ÜYE BİLGİLERİ</h2>
@Html.Action("İadeCeza", "Uye")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciSifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciTelefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitapId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitapAlımTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ceza)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciSifre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KullaniciTelefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitapId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitapAlımTarihi)
            </td>
            <td>
                @if (item.Ceza == 2)
                {
                    <div style="background-color:maroon; text-align:center;">@Html.DisplayFor(modelItem => item.Ceza)</div>

                }
                else if (item.Ceza == 1)
                {
                    <div style="background-color:orange; text-align:center;">@Html.DisplayFor(modelItem => item.Ceza)</div>
                }
                else
                {
            <div style="background-color:lightgreen; text-align:center;">@Html.DisplayFor(modelItem => item.Ceza)</div>
                }
            </td>
        </tr>
    }

</table>
